

{% extends 'saler/student_dashboard.html' %}
{% load static %}

{% block student %}
<style>
   .required::after {
      content: ' * ';
      color: red;
    }
</style>


<div class="main-profile-wrapper">
    <div class="row">
       
            {% if user_details %}
            <div class="row">
               
                <div class="col-lg-8 col-md-12">
                    <div class="section-2">
                        <h2>Profile Details</h2>
                        <hr class="hr">
                       
                        <!-- <hr> -->
                        <!-- <h5 class="card-title">About Me</h5> -->

                       <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <p class="font-weight-bold">{{request.user.first_name}} {{request.user.last_name}}</p>
                            <p>Username: <span class="text-primary">@{{request.user.username}}</span></p>
                            <p>Email: <span class="text-primary">{{request.user.email}}</span></p>
                            <p>Phone Number: <span class="text-primary">{{user_details.contact_number}}</span></p>
                            <p>Date Joined: <span class="text-primary">{{request.user.date_joined}}</span></p>
                            <h5 class="heading">My Preferred Subjects</h5>
                            <p>{{user_details.subjects}}</p>
                            <h5 class="heading">My Preferred tutoring format</h5>
                            <p>{{user_details.preferred_tutoring_format}}</p>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                           
    
                            
    
                            <h5 class="heading">Availability for Sessions</h5>
                            <p>{{user_details.availability}}</p>
    
                            <h5 class="heading">Budget</h5>
                            <p>Ksh {{user_details.budget_range}}</p>

                            <h5 class="heading">Preferred Duration per Session</h5>
                            <p>{{user_details.duration_per_session}}</p>

                            <h5 class="heading">Preferred Langauges</h5>
                            <p>{{user_details.languages_preference}}</p>

                            <h5 class="heading">Preferred Tutor Qualifications</h5>
                            <p>{{user_details.qualifications_desired}}</p>
                        </div>
                       </div>
                       
                        

                       



                       <div class="tutoring-details">
                        
                            <hr>
                        <div class="row">
                            <h6 class="card-title text-danger mb-4"></h6>

                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                <a href="" class="btn btn-primary">Update Profile</a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                <a href="{% url 'deActivateProfile'%}" class="btn btn-warning">Deactivate Profile</a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                                <a href="" class="btn btn-danger">Delete Profile</a>
                            </div>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
            {% else %}
            <form method="POST" class="update-profile-form" enctype="multipart/form-data"
                action="{% url 'updateStudentProfileForm'%}">
                {% csrf_token %}
                <h2>Update Profile</h2>


                <div class="mb-3">
                    <label for="contact_number" class="form-label required">Contact Number</label>
                    <input type="text" class="form-control" id="contact_number" name="contact_number" required>
                  </div>
              
                  <div class="mb-3">
                    <label for="subjects" class="form-label required">Subjects/Topics needing assistance</label>
                    <textarea class="form-control" id="subjects" name="subjects" rows="3" required></textarea>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="mb-3">
                        <label for="grade_level" class="form-label">Grade Level</label>
                        <input type="text" class="form-control" id="grade_level" name="grade_level">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="mb-3">
                        <label for="preferred_tutoring_format" class="form-label required">Preferred Tutoring Format</label>
                        <select class="form-select" id="preferred_tutoring_format" name="preferred_tutoring_format" required>
                          <option value="one on one">One on One</option>
                          <option value="group">Group</option>
                          <option value="flexible">Flexible</option>
                        </select>
                      </div>
                    </div>
                  </div>
              
                 
              
                 
              
                  <div class="mb-3">
                    <label for="availability" class="form-label">Preferred Days and Times</label>
                    <textarea class="form-control" id="availability" name="availability" rows="3" ></textarea>
                  </div>
              
                  <!-- <div class="mb-3">
                    <label for="duration_per_session" class="form-label">Duration per Session</label>
                    <input type="text" class="form-control" id="duration_per_session" name="duration_per_session" required>
                  </div> -->

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group mb-4">
                        <label for="" class="required">Preferred Duration Per Session</label>
                        <select class="form-select" name="duration_per_session" id="duration_per_session">
                            <option value="0.5">30 mins</option>
                            <option value="1">1 hr</option>
                            <option value="1.5">1hr 30 mins</option>
                            <option value="2">2 hrs</option>
                            <option value="2.5">2hrs 30 mins</option>
                            <option value="3">3 hrs</option>
                            <option value="3.5">3hrs 30 mins</option>
                            <option value="4">4hrs</option>
                            <option value="4.5">4hrs 30 mins</option>
                            <option value="5">5hrs </option>
                            
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="mb-3">
                        <label for="budget_range" class="form-label">Budget Range in Ksh</label>
                        <input type="text" class="form-control" id="budget_range" name="budget_range" >
                      </div>
                  
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="form-group mb-4">
                        <label for="" class="required">Preferred Payment Method</label>
                        <select class="form-select" name="payment_method" id="payment_method">
                            <option value="Mpesa">Mpesa</option>
                            <option value="Airtel Money">Airtel Money</option>
                            <option value="Master Card">Master Card</option>
                            <option value="Visa">Visa</option>
                            <option value="American Express">American Express</option>
                           
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="mb-3">
                        <label for="languages_preference" class="form-label required">Languages Preference</label>
                        <input type="text" class="form-control" id="languages_preference" name="languages_preference" required>
                      </div>
                    </div>
                  </div>
                 
              
                 
                  

                  
              
                 
              
                  <div class="mb-3">
                    <label for="qualifications_desired" class="form-label">Qualifications Desired</label>
                    <input type="text" class="form-control" id="qualifications_desired" name="qualifications_desired" >
                  </div>
              
                  <div class="mb-3 form-check">
                    <input  type="checkbox" class="form-check-input required" id="accept_terms" name="accept_terms" required>
                    <label class="form-check-label" for="accept_terms">I Accept <a href="{% url 'terms'%}">Terms and Conditions</a></label>
                  </div>
              
                  <div class="mb-3">
                    <label for="privacy_preference" class="form-label">Privacy Preference</label>
                    <select class="form-select" id="privacy_preference" name="privacy_preference" required>
                      <option value="Share my details with matched tutors">Share my details with matched tutors</option>
                      <option value="Remain anonymous until matching">Remain anonymous until matching</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Update Profile</button>
                  <!-- Add other fields as needed -->
            </form>
            {% endif %}
       
    </div>
</div>
    


{% endblock %}
