{% extends 'saler/student_dashboard.html' %}
{% load static %}

{% block student %}

    <div class="dashboard-home">
        <div class="messages-container bg-light  p-3">
           <div class="row">
            {% for room in rooms %}
           <a href="{% url 'chatRoom' room_id=room.id %}">
            <div class="col-lg-3 col-md-6 col-sm-12 h-100 message-wrapper">
                <h3 class="h3">{{room.name}}</h3>
            </div>
           </a>
            {% endfor %}
           </div>
        </div>
        <h4 class="active-sessions">Active Sessions</h4>
        {% for session in sessions %}
            <div class="student-sessions p-3 mb-4">
                <p class="font-weight-bold text-primary">{{session.title}}</p>
                <p class="font-weight-bold">Skill: {{session.payments.booking.skill.title}}</p>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <p class="">Tutor: {{session.payments.booking.skill.tutor.first_name}} {{session.payments.booking.skill.tutor.last_name}}</p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <p class="">{{session.payments.booking.date}} at {{session.payments.booking.time}} for {{session.payments.booking.duration}} hrs</p>
                    </div>
                   <div class="session-status mt-3">
                    <dic class="row">
                        <div class="col-lg-6 col-md-12 mb-2">
                            <a href="{{session.meet_url}}" class="btn btn-danger mb-4" target="_blank">Join Meeting</a>
                            <p class="tex-primary">{{session.meet_url}}</p>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-2">
                            <p>Session Status</p>
                            <button class="btn btn-outline-secondary">{{session.session_status}}</button>
                        </div>
                    </dic>
                   </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}