{% extends 'saler/student_dashboard.html' %}
{% load static %}

{% block student %}

{% for booking in bookings %}
    <div class="bookings">
      <div class="booking-data">
         
        <p>Tutor Name: {{booking.skill.tutor.first_name}} {{booking.skill.tutor.last_name}}</p>
        <p>Date: {{booking.date}}  @{{booking.time}}</p>
       
        <p>Duration: {{booking.duration}} hrs</p>

        <p>Cost:{{booking.cost}}</p>
        
      
      </div>
      <!-- <hr> -->
      <div class="booking-message">
        <p class="message-title">Student Message</p>
        <p class="message-body">{{booking.student_message}}</p>
      </div>
      <hr>
      <div class="booking-status">
        <p class="approval-status">Booking approval Status| <span>{{booking.booking_status}}</span> </p>
        <p class="payment-status">Payment  Status <span>
            <!-- <button class="payment-btn">{{booking.payment_status}}</button> -->
            <a href="{% url 'submitOrder' booking_id=booking.id %}" class="btn btn-outline-success">{{booking.payment_status}}</a>
            </span> </p>
      </div>
    </div>
    {% endfor %}
{% endblock %}

submitOrder