{% extends 'saler/account_settings.html' %}
{% load static %}

{% block dashboard %}
{% for booking in bookings %}
    <div class="bookings">
      <div class="booking-data">
         
        <p>Tutor Name: {{booking.skill.tutor.first_name}} {{booking.skill.tutor.last_name}}</p>
        <p>Date: {{booking.date}}  @{{booking.time}}</p>
       
        <p>Duration: {{booking.duration}} hrs</p>
        
      
      </div>
      <!-- <hr> -->
      <div class="booking-message">
        <p class="message-title">Student Message</p>
        <p class="message-body">{{booking.student_message}}</p>
      </div>
      <hr>
      <div class="booking-status">
        <p class="approval-status">Booking approval Status| <span>{{booking.booking_status}}   <button class="btn btn-primary ml-3 update_booking">Change</button></span>  </p>
        <p class="payment-status">Payment approval Status| <span>
            <button class="payment-btn">{{booking.payment_status}}</button>
            </span> </p>
           
      </div>

      <div class="bookings-form">
        <form action="{% url 'update_booking_status' booking_id=booking.id%}" method="POST">
              {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary" id="update-booking-btn">Update Status</button>
        </form>
      </div>
    </div>
    {% endfor %}

{% endblock %}