{% extends 'saler/account_settings.html' %}

{% load static %}

{% block dashboard %}

<style>
   
</style>
<div class="main-profile-wrapper">
    <div class="row">

        {% if user_details %}


        <div class="section1">
            <div class="row">
                
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="profile-image-wrapper mb-4">
                        <img src="{{user_details.profile_picture.url}}" class="dpidcn" alt="dp">
                    </div>
                    <p class="education"><i class="fas fa-university fa-sm  "></i> {{user_details.highiest_qualification}}</p>
                    <p  class="specialist">Specializing in <span>{{user_details.specialization}}</span></p>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <h4 class="username mb-3">{{request.user.first_name}} {{request.user.last_name}} <i class="fas fa-star fa-sm  " style="color: gold;"></i></h4>
                    <div class="row mb-4">
                        <div class="col-3">
                            <p><i class="fas fa-user fa-xs  "></i> @{{request.user.username}}</p>
                        </div>
                        <div class="col-3">
                            <p><i class="fas fa-mail-bulk fa-sm" style="color: gray;"></i> {{request.user.email}}</p>
                        </div>
                        <div class="col-3">
                            <p><i class="fas fa-phone fa-sm"></i> {{user_details.contact_number}}</p>
                        </div>
                        <div class="col-3">
                            <p><i class="fas fa-school fa-sm  "></i> Tutor</p>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <p class="availability">General Availability <span>{{user_details.availability}}</span></p>
                    </div>
                    <div class="row mt-4">
                       
    
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <a href="{% url 'updatProfileForm'%}" class="btn btn-primary">Update Profile</a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <a href="{% url 'deActivateProfile'%}" class="btn btn-warning">Deactivate Profile</a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <a href="" class="btn btn-danger">Delete Profile</a>
                        </div>
                    </div>
                    <div class="row  skill-section">
                        <h5>Topics/Subjects</h5>
                        {% for skill in skills %}
                        <div class="col-3 skill-item">
                            <p>{{skill.title}}</p>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="section2">
            <div class="row">
                <div class="col">
                    <div class="section2-item">
                        <i class="fas fa-dollar-sign fa-2x  " style="background-color: rgba(17, 198, 17, 0.441);"></i>
                        <div class="details">
                            <h5 style="font-weight: bold;">Ksh {{user_details.hourly_rate}}</h5>
                            <p>Rate/Hr</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="section2-item">
                       <i class="fas fa-clock fa-2x  " style="background-color: rgba(255, 166, 0, 0.493);"></i>
                        <div class="details">
                            <h5 style="font-weight: bold;">{{user_details.years_of_experience }} Years</h5>
                            <p>Experince</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="section2-item">
                        <i class="fas fa-user-check fa-2x  " style="background-color: rgba(255, 0, 0, 0.328);"></i>
                        <div class="details">
                            <h5 class="text-success" style="font-weight: bold;">Active</h5>
                            <p>Status</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="section2-item">
                        <i class="fas fa-clipboard   fa-2x "></i>
                        <div class="details">
                            <h5 style="font-weight: bold;">0</h5>
                            <p>Bookings</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
           
            <div class="col-lg-8 col-md-12">
                <div class="section-2">
                    
                  
                    <div class="row">
                        <div class="col">
                            <div class="show-calendar active">
                                <p>Show My Schedules</p>
                                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            </div>
        
                        </div>
                        <div class="col">
                            <div class="add-day">
                                <p>Set Days Available</p>
                                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                   
                <div class="calendar-wrapper">
                    <div id="calendar"></div>
                </div>

                   

                    
                   
                    <div class="available-day-form">
                        <form action="{% url 'addAvailableDay'%}" method="POST">
                            {% csrf_token %}
                            <h5>Available  Days</h5>
                            <div class="form-group">
                              <label for="">Select Date</label>
                              <div class="row">
                                <div class="col">
                                    <input type="date"
                                    class="form-control" name="date" id="" aria-describedby="helpId" placeholder="">
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-secondary">Add Day   </button>
                                </div>
                              </div>
                              <div class="mb-3 mt-4">
                                <label for="" class="form-label">See Available Dates</label>
                                <input
                                    type="text"
                                    readonly
                                    class="form-control"
                                    name=""
                                    id="mydate"
                                    aria-describedby="helpId"
                                    placeholder="My Avalibale Dates"
                                />
                               
                            </div>
                           
                              
                               
                            </div>
                        </form>
                    </div>
                    <!-- <hr> -->
                  
                    
                


                
            </div>
        </div>
    </div>
    {% else %}
    <form method="POST" class="update-profile-form" enctype="multipart/form-data" action="{% url 'updatProfileForm'%}">
        {% csrf_token %}
        <h2>Update Profile</h2>


        <input type="submit" value="Update" class="btn btn-primary" id="auth-btn" />

    </form>
    {% endif %}

</div>
</div>

<script>
    $('.show-calendar').click(function () {
        var element =  $('#calendar');
        $('.add-day').removeClass("active");
        showCalendar(element)
        addBg(element,this)   
        showAddDay()
    })

   

    $('.add-day').click(function(){
        var element = $('.available-day-form')
        $('.show-calendar').removeClass("active");
        showAddDay(element)
        addBg(element,this)
        showCalendar()
        
    })

    function addBg(element,target){
        if ($(element).is(":visible")) {
            $(target).addClass("active");
          
        } else {
            $(target).removeClass("active");
            
        }
    }

    function showAddDay(){
        $('.available-day-form').toggle()
    }

    function showCalendar() {
        $("#calendar").toggle();
    }


    document.addEventListener('DOMContentLoaded', function () {
        var events = {{ serialized_data| safe}};
    var items = []
    for (var i = 0; i < events.length; i++) {
        var event = events[i];

       

        var item = {
            title: event["fields"].notes,
            start: event["fields"].day + 'T' + event["fields"].start_time,
            end: event["fields"].day + 'T' + event["fields"].end_time
        };

        items.push(item)
       

    }

    


    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        theme:true,
        initialView: 'dayGridMonth',
        themeSystem: 'bootstrap',
        events: items,
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        eventColor: '#378006',
        eventClick: function (info) {
            
            alert('Event clicked: ' + info.event["title"]);
        }
    });

    
    calendar.render();

    function addDayWithoutEvent(date) {
      calendar.addEvent({
        start: date,
        rendering: 'block', // This will make the event background-only
        color: '#dddddd' // Background color for the day without an event
      });
    }

    for (var i = 0; i < events.length; i++) {
        var event = events[i];
            var newDate = event["fields"].day;
        // addDayWithoutEvent(newDate);
    }

   
    

    
    });

    
</script>


{% endblock %}