{% extends 'saler/account_settings.html' %}
{% load static %}

{% block dashboard %}
<div class="sessions-container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4 class="card-title">Active Sessions</h4>
            <hr>

            {% if sessions %}
            {% for session in sessions %}
            <div class="sessions-wrapper mb-3">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <p class="session-title">{{session.title}}</p>
                        <p class="start-date">Date: {{session.payments.booking.date}} </p>
                        <p class="start-time">Time: {{session.payments.booking.time}}</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                       
                        <p >Session Status: <span class="text-success">
                            <button  
                            data-index="{{ forloop.counter0 }}"
            onclick="changeSession('{{forloop.counter0}}')"
                            class="btn btn-outline-success">{{session.session_status}}</button>
                        </span> </p>
                    </div>
                </div>
                <div class="row">
                   <div class="col-10">
                    <a href="{{session.meet_url}}" class="btn btn-danger mb-4" target="_blank">Start Meeting</a>
                   </div>
                </div>
              
            </div>

            <div class="session-form" style="height: max-content !important; ">
                <form action="{% url 'updateSessionStatus' session_id=session.id %}" method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-outline-primary" id="update-booking-btn">Update Status</button>
                </form>
              </div>

            {% endfor %}
            {% else  %}
              <p>You have no active sessions  </p>
            {%  endif  %}
        </div>
        
    </div>
</div>

<script>


    function changeSession(message){
      showSessionForxm(message)
    }
  
    function showSessionForxm(message){
      var elementsWithClass = $(".bookings-form");
      $(".session-form").eq(message).toggle();
  }
  
  
  </script>

{% endblock %}