{% extends 'saler/account_settings.html' %}
{% load static %}

{% block dashboard %}
    <div class="withdrawals-container">
       <h4 class="card-title mb-4">Finances Management</h4>
        
       <div class="finance-wrapper">
        <p class="fon-weight-bold">Account Balance: Ksh <span class="text-success">5200.20</span></p>
        <p>Pending Withdrawals: Ksh <span class="font-weight-bold text-danger">0.00</span></p>
        <hr>
        <div class="mb-3 col-3">
            <label for="" class="form-label">Amount To Withdraw</label>
            <input
                type="text"
                class="form-control"
                name=""
                id=""
                aria-describedby="helpId"
                placeholder=""
            />

           
        </div>
        <a href="" class="btn btn-primary">Initiate Withdrawal Process</a>

        <p class="mt-4 font-style-italic"><span class="text-danger">Note: </span>Payment Process takes takes 72hrs after Initiatation</p>
        
       </div>
    </div>

{% endblock %}