.time-slots{
    width: 100%;
}

.skill-slots{
    width: 70%;
    height: 8rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding:1rem;
}

.start-time,.stop-time{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem ;
}