.profile-section{
    /* background-color: blue; */
    /* height: 100vh; */
    width: 100vw;
    /* margin-top: 5rem; */
}

.account-details{
    /* border: 1px solid black; */
}

.quick-actions{
    height: 5rem;
    width: 100%;
    /* background-color: aqua; */
    margin-bottom: 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 3rem;
    padding-right: 4rem;
}

.profile-image{
    width: 100%;
    height: 18rem;
    width: 18rem;
    /* overflow: hidden; */
    object-fit: contain;
    margin: auto;
    padding-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 50%;
}

.profile-image img{
    height: 13rem;
    width: 13rem;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
}
.skill-tile{
    text-align: center;
}

.skill-tile:hover{
    text-decoration: none;
    /* background-color: rebeccapurple; */
}

.name{
    color: black;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: bold;
}

.rate{
    font-size: 1rem;
    /* color: blue; */
}
.rating{
    font-weight: bolder;
}

.about-title{
    font-size: 1.4rem;
}

.about{
    color: black;
}

.star {
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
}

.star:hover,
.star.rated {
    color: #ffac00;
}


.rating-section{
    /* border: 1px solid ; */
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
.rated_value{
    width: 100%;
    text-align: end;
    background-color: red;
}

.ratings{
    border-top: 1px solid;
    padding-top: 0.5rem;
    margin-top: 2rem;
}