{% extends 'main/base.html' %}
{% load static %}

{% block content%}
<div class="container mt-5">
    <h1 class="mb-4">Privacy Policy</h1>
  
    <div class="mb-4">
      <h3>1. Information Collection</h3>
      <p>We collect personal information from users, including names, email addresses, contact numbers, and other relevant details necessary for providing our services.</p>
    </div>
  
    <div class="mb-4">
      <h3>2. Use of Information</h3>
      <p>We use collected information to facilitate connections between tutors and students, process payments, improve our services, and comply with legal requirements.</p>
    </div>
  
    <div class="mb-4">
      <h3>3. Data Security</h3>
      <p>We implement appropriate security measures to protect user data from unauthorized access, alteration, or disclosure.</p>
    </div>
  
    <div class="mb-4">
      <h3>4. Cookies</h3>
      <p>Skuli may use cookies to enhance user experience, analyze website usage, and provide personalized content.</p>
    </div>
  
    <div class="mb-4">
      <h3>5. Third-Party Links</h3>
      <p>Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these websites.</p>
    </div>
  
    <div class="mb-4">
      <h3>6. Data Sharing</h3>
      <p>We do not sell or share user data with third parties for marketing purposes. However, we may disclose information as required by law or to comply with legal processes.</p>
    </div>
  
    <div class="mb-4">
      <h3>7. Children's Privacy</h3>
      <p>Our services are not intended for children under the age of 13. We do not knowingly collect personal information from children.</p>
    </div>
  
    <div class="mb-4">
      <h3>8. Changes to Privacy Policy</h3>
      <p>We may update our Privacy Policy periodically. Users will be notified of any significant changes, and continued use of our services constitutes acceptance of the updated policy.</p>
    </div>
  </div>

{% endblock %}