{% extends 'main/base.html' %}
{% load static %}

{% block content%}

<div class="container mt-5">
    <h1 class="mb-4">Terms and Conditions</h1>
  
    <div class="mb-4">
      <h3>1. Acceptance of Terms</h3>
      <p>By accessing or using Skuli, you agree to comply with and be bound by these Terms and Conditions.</p>
    </div>
  
    <div class="mb-4">
      <h3>2. Services</h3>
      <p>Skuli provides a platform connecting tutors and students. We do not guarantee the quality, accuracy, or availability of services provided by users.</p>
    </div>
  
    <div class="mb-4">
      <h3>3. User Responsibilities</h3>
      <p>Users are responsible for providing accurate information, maintaining privacy, and complying with all applicable laws and regulations.</p>
    </div>
  
    <div class="mb-4">
      <h3>4. Payment</h3>
      <p>Tutors and students agree to handle payments securely through Skuli or external payment methods. Skuli is not responsible for any disputes related to payments.</p>
    </div>
  
    <div class="mb-4">
      <h3>5. Content</h3>
      <p>Users are responsible for the content they post on Skuli. We reserve the right to remove or modify content that violates these Terms and Conditions.</p>
    </div>
  
    <div class="mb-4">
      <h3>6. Limitation of Liability</h3>
      <p>Skuli is not liable for any direct, indirect, or consequential damages resulting from the use or inability to use our services.</p>
    </div>
  
    <div class="mb-4">
      <h3>7. Termination</h3>
      <p>We reserve the right to terminate or suspend user accounts that violate these Terms and Conditions or pose a risk to Skuli or its users.</p>
    </div>
  
    <div class="mb-4">
      <h3>8. Governing Law</h3>
      <p>These Terms and Conditions are governed by law, without regard to its conflict of law principles.</p>
    </div>
  </div>
  


{% endblock %}